---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://posicionadas.com.br/</loc>
  </url>
  <url>
    <loc>https://posicionadas.com.br/blog/</loc>
  </url>
  {% for post in collections.posts %}
  <url>
    <loc>https://posicionadas.com.br{{ post.url }}</loc>
    <lastmod>{{ post.date.toISOString() }}</lastmod>
  </url>
  {% endfor %}
  <url>
    <loc>https://posicionadas.com.br/privacidade/</loc>
  </url>
  <url>
    <loc>https://posicionadas.com.br/cookies/</loc>
  </url>
  <url>
    <loc>https://posicionadas.com.br/termos/</loc>
  </url>
</urlset>
